.MovieTitle {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    font-size: 40px;
    text-align: center;
    font-family: 'Monoton', cursive;
    font-weight: bold;
}

.searchDiv {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchBar {
    height: 50px;
    width: 70%;
    border: 2px solid #282c34;
    border-radius: 25px;
    display: flex;
    align-items: center;
}

.searchIcon {
    margin-left: 20px;
    font-size: 40px;
}

.searchText {
    margin-left: 20px;
}

.resultList {
    margin-top: 50px;
    padding-bottom: 50px;
    box-sizing: border-box;
    width: 100%;
    height: calc(100vh - 231px);
    overflow-x: auto;
    display: flex;
    justify-content: center;
}

.responseMsg {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Pacifico', cursive;
    color: #EA4D23;
    font-weight: bold;
    margin-top: 50px;
}

.searchCard {
    height: 100%;
    width: 100%;
    /* background-color: red; */
}

.poster {
    max-height: 200px;
    max-width: 100%;
    border: 5px solid #282c34;
    border-radius: 4px;
    box-sizing: border-box;
}

.posterNA {
    height: 200px;
    width: 100%;
    border: 5px solid #282c34;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    color: #8d8d8d;
}

.movieTitle {
    font-family: 'Aladin', cursive;
    font-size: 30px;
    font-weight: bold;
}

.movieDate {
    margin-top: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.nominateButton {
    width: 100%;
    height: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 18px;
    border-radius: 6px;
    color: white;
}

.warning {
    width: 100%;
    height: 50px;
    background-color: red;
    color: white;
    font-size: 25px;
    font-family: 'Pacifico', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
}