.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-wrapper {
  width: 100%;
  padding-left: 0;
  padding-top: 61px;
  height: 100vh;
  box-sizing: border-box;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MuiList-root::-webkit-scrollbar-track {
  /* border: 1px solid #282461; */
  padding: 2px 0;
  /* background-color:#282461; */
}

.MuiList-root::-webkit-scrollbar {
  width: 5px;
}

.MuiList-root::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px #EA4D23;
  background-color: #EA4D23;
  border: 1px solid #EA4D23;
}
